<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.3.8522.0">
	<roleProviders>
		<add enabled="True" name="LdapRoles" config:flags="1" />
	</roleProviders>
	<membershipProviders>
		<add enabled="True" name="LdapUsers" config:flags="1" />
	</membershipProviders>
	<administrativeRoles>
		<role roleProvider="LdapRoles" roleName="SitefinityAdmin" />
	</administrativeRoles>
	<LdapConnections>
		<connections>
			<LdapConnection serverName="10.107.41.155" connectionDomain="BANCOMACHALA" connectionUsername="usr_intranew" connectionPassword="Bmachala.123" resultCacheExpiration="300" usersDN="cn=Users,dc=bancomachala,dc=des" rolesDns="cn=Users,dc=bancomachala,dc=des" ldapVersion="3" authenticationType="Basic" name="DefaultLdapConnection" config:flags="1" />
		</connections>
	</LdapConnections>
</securityConfig>